# Operacje w NumPy

## Arytmetyka

Możesz łatwo wykonywać działania *tablica z tablicą* lub *skalar z tablicą*. Zobaczmy kilka przykładów:

In [1]:
import numpy as np
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [2]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [3]:
arr * arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [4]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [5]:
# This will raise a Warning on division by zero, but not an error!
# It just fills the spot with nan
arr/arr

/var/folders/ff/6wst9f1n1g96lc__ld426szh0000gn/T/ipykernel_7623/733519588.py:3: RuntimeWarning: invalid value encountered in divide
  arr/arr

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [6]:
# Also a warning (but not an error) relating to infinity
1/arr

/var/folders/ff/6wst9f1n1g96lc__ld426szh0000gn/T/ipykernel_7623/687623314.py:2: RuntimeWarning: divide by zero encountered in divide
  1/arr

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [7]:
arr**3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729])

In [9]:
arr / arr

/var/folders/ff/6wst9f1n1g96lc__ld426szh0000gn/T/ipykernel_7623/2811617162.py:1: RuntimeWarning: invalid value encountered in divide
  arr / arr

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

## Uniwersalne funkcje tablicowe

NumPy zawiera wiele [uniwersalnych funkcji tablicowych](http://docs.scipy.org/doc/numpy/reference/ufuncs.html), czyli <em>ufuncs</em>, będących operacjami matematycznymi stosowanymi do całej tablicy.<br>Pokażmy kilka popularnych przykładów:

In [8]:
# Taking Square Roots
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [9]:
# Calculating exponential (e^)
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [10]:
# Trigonometric Functions like sine
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [11]:
# Taking the Natural Logarithm
np.log(arr)

C:\Anaconda3\envs\tsa_course\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

## Statystyki opisowe tablic

NumPy udostępnia także popularne statystyki opisowe, takie jak <em>sum</em>, <em>mean</em> i <em>max</em>. Wywołujemy je jako metody na tablicy.

In [12]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
arr.sum()

45

In [14]:
arr.mean()

4.5

In [15]:
arr.max()

9

<strong>Inne statystyki opisowe to m.in.:</strong>
<pre>
arr.min() zwraca 0                    minimum
arr.var() zwraca 8.25                 wariancja
arr.std() zwraca 2.8722813232690143   odchylenie standardowe
</pre>

## Oś i kontekst
Pracując z tablicami dwuwymiarowymi (macierzami), musimy brać pod uwagę wiersze i kolumny. To bardzo ważne, gdy przejdziemy do części o pandas. W terminologii tablic oś 0 (zero) to pion (wiersze), a oś 1 to poziom (kolumny). Te wartości (0,1) odpowiadają kolejności, w jakiej zwracane są wartości <tt>arr.shape</tt>.

Zobaczmy, jak wpływa to na obliczanie statystyk opisowych z poprzedniego przykładu.

In [16]:
arr_2d = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [17]:
arr_2d.sum(axis=0)

array([15, 18, 21, 24])

Po przekazaniu <tt>axis=0</tt> otrzymujemy tablicę sum wzdłuż osi pionowej, czyli w praktyce <tt>[(1+5+9), (2+6+10), (3+7+11), (4+8+12)]</tt>

<img src='axis_logic.png' width=400/>

In [18]:
arr_2d.shape

(3, 4)

To oznacza, że <tt>arr_2d</tt> ma 3 wiersze i 4 kolumny.

W powyższym przykładzie <tt>arr_2d.sum(axis=0)</tt> sumowana była najpierw pierwsza kolumna każdego wiersza, potem druga i tak dalej.

Co więc powinno zwrócić <tt>arr_2d.sum(axis=1)</tt>?

In [ ]:
# THINK ABOUT WHAT THIS WILL RETURN BEFORE RUNNING THE CELL!
arr_2d.sum(axis=1)

# Świetna robota!

Na tym etapie to wszystko, co musimy wiedzieć!