<div class="alert alert-info"><strong>UWAGA:</strong> Zazwyczaj będziemy albo czytać pliki CSV bezpośrednio, albo używać pandas-datareader do pobierania danych z sieci. Potraktuj tę lekcję jako szybki przegląd możliwości pandas (w tym kursie nie będziemy pracować z plikami SQL ani Excel).</div>

# Wejście i wyjście danych

Ten notatnik stanowi referencję do operacji wejścia i wyjścia. Pandas potrafi czytać różne typy plików za pomocą metod `pd.read_`. Przyjrzyjmy się najczęstszym typom danych:

In [1]:
import numpy as np
import pandas as pd

## CSV
Pliki CSV (Comma Separated Values) to pliki tekstowe, w których pola są rozdzielane przecinkami.<br>
Jeśli nie korzystasz ze środowiska wirtualnego dołączonego do kursu, może być konieczne zainstalowanie <tt>xlrd</tt> i <tt>openpyxl</tt>.<br>
W terminalu/w wierszu poleceń uruchom:

    conda install xlrd
    conda install openpyxl

Następnie zrestartuj Jupyter Notebook.
(lub użyj polecenia pip install, jeśli nie korzystasz z dystrybucji Anaconda)

### Wczytywanie CSV

In [2]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Zapis do CSV

In [3]:
df.to_csv('example.csv',index=False)

## Excel
Pandas potrafi czytać i zapisywać pliki MS Excel. Należy jednak pamiętać, że importowane są tylko dane, a nie formuły czy obrazy. Plik zawierający obrazy lub makra może spowodować błąd metody <tt>.read_excel()</tt>.

### Wczytywanie Excela

In [4]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Zapis do Excela

In [5]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML
Pandas potrafi odczytywać tabele z kodu HTML.<br>
Jeśli nie korzystasz ze środowiska wirtualnego dołączonego do kursu, może być konieczna instalacja <tt>lxml</tt>, <tt>html5lib</tt> oraz <tt>BeautifulSoup4</tt>.<br>
W terminalu/w wierszu poleceń uruchom:

    conda install lxml
    conda install html5lib
    conda install beautifulsoup4

Następnie zrestartuj Jupyter Notebook.
(lub użyj polecenia pip install, jeśli nie korzystasz z dystrybucji Anaconda)

### Wczytywanie HTML

Funkcja `pandas.read_html` odczytuje tabele ze stron internetowych i zwraca listę obiektów DataFrame:

In [6]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [8]:
df[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

____

# Świetna robota!